*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

video {
  position: absolute;
  height: 100vh;
  opacity: 0;
  padding: 4px;
  border: 2px solid transparent;
  transition: border-color 0.5s;

  &:first-child {
    opacity: 0.85;
    filter: grayscale(1);
  }

  @media screen and (min-width: 680px) {
    max-height: 600px;
    border-radius: 50%;
  }

  .isPending & {
    border-color: #fefaff;
  }
}

.default #default {
  opacity: 1;
  filter: none;
}

.look #look {
  opacity: 1;
}

.smile #smile {
  opacity: 1;
}

.ssa #ssa {
  opacity: 1;
}

.song1 #song1 {
  opacity: 1;
}

.spSong #spSong {
  opacity: 1;
}
